
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');


*{
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    margin:0;
    padding:0;
    box-sizing: border-box;    
}

h1{
    font-family: "Dosis", sans-serif;
    font-style: normal;
    font-size: 1.7rem;
    }

@media  screen and (max-width: 768px){
    h1{font-size: 1.4rem ;}}   

h2{font-family: "Dosis", sans-serif;
        font-style: normal;   
        font-size: 1.3rem; }



h3, a  {
        font-size: 1rem; 
        font-family: Dosis, sans-serif;}         


 
p{font-size:1rem;
    line-height: 1.5;}


a{font-family: "Open Sans", sans-serif;
            text-decoration: none;
            color: black; }

    
ul {
    list-style: none;
   
            }
            
li {
    display: inline-block;
    margin-right: 15px;
            }

            
            

            

.fa-cart-shopping {font-size:1.5rem;}


.logoBordadines {
    font-family: "Playwrite GB S", serif;
    font-size: 1.7rem;
    
    font-style: normal;        
  }

@media  screen and (max-width: 768px){
    .logoBordadines {font-size: 1.4rem}
  }
    

header{background-color: white;
    position: sticky;
    
    top:0;
    z-index:1000;
    padding: 20px;
    ul{
        list-style: none;
    
        li{
            display: inline-block;
            margin-right: 15px;
            a{
                font-family: "Dosis", sans-serif;
                text-decoration: none;
                color:  black;
                font-size: 1.4rem; }}}     
        }    
    

    .contenedorGridHeader {
            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: auto auto auto;
            grid-template-areas:
                "columna1Header logoHeader columna2Header"
                "columna1Header logoHeader columna2Header";
        }
        
    .columna1Header { grid-area: columna1Header; }
    .logoHeader {
            grid-area: logoHeader;
            padding-left: 40px;
        }
    .columna2Header { grid-area: columna2Header; }
        
    .columna1Header, .columna2Header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
    .logoHeader {
            display: flex;
            align-items: center;
            justify-content: center;
        }
     
    .guardaHeaderMobile{display:none;}    
   
    @media screen and (max-width: 768px) {
        
        .guardaHeaderMobile {display:flex;
            justify-content: center;
           } 
        
        .contenedorGridHeader {
           
        
            display: flex;
            flex-direction: column;
            
            
            justify-content: space-between;
            max-width: 100%; 
            text-align:justify;
            overflow: hidden;    
            
             }

   

        .logoHeader img {
                width: 90px;
                padding-right:20px;
                padding-top:8px;
            }
        .guardaMobile {display: none;
              
            }}
           

        /*
        .columna1Header .columna1HeaderMobile{display:flex;
        flex-direction: row;
        justify-content: left;}
        
        
        
         
        .contenedorGridHeader .logoHeader img {
                    width: 64px;
                }}
*/        
        

.sectionPrincipal {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-image: url("../assets/img/flores2_1920.png");
        background-position: top;
        background-size: contain;
        background-blend-mode: lighten;
        background-color: rgba(255, 255, 255, 0.486);
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    .sectionPrincipal h1 {
        color: #563b5a;
    }
    
    .sectionPrincipal p {
        text-align: justify;
        font-size: 1.2rem;
        line-height: 1.5;
        font-weight: 550;
        color: #180e44;
        padding-left: 100px;
        padding-right: 100px;
    }
    
    @media screen and (max-width: 768px) {
        
        
        .sectionPrincipal {
            padding-top: 30px;
            padding-bottom: 30px;
           
        }
    
        .sectionPrincipal h1 {
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
        }
    
        .sectionPrincipal p {
            text-align: justify;
            font-size: 1.1rem;
            line-height: 1.5;
            font-weight: 550;
            color: #180e44;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    


.tituloMain {display: flex;
            justify-content: center;
            align-items:flex-end;
            h1, h2 {padding-right: 30px;
                padding-left: 30px;
                padding-top:40px;
        }  }      
   
@media screen and (max-width: 768px){
    .tituloMain {height: initial;
        h2{padding: top 10px;;}

        img {width: 40px;}}}


    

.contenedorGridIndex {padding-top: 30px;
    h3 a{font-size:1.1em;}
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 30px;
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 20px;
            grid-template-areas:              
                "columna1Main imagenCentralMain columna3Main";
        }

        h3 {
            padding-top: 15px;
        }
        
        .contenedorGridIndex p {
            padding-top: 5px;
        }
        
        

        
.columna1Main {
            grid-area: columna1Main;
            display: flex;
            flex-direction: column;
            text-align: justify;
            line-height: 1.5;
            align-items: center;
        }
        
.imagenCentralMain {
            grid-area: imagenCentralMain;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
        }
        
.imagenCentralMain { img {
            border-radius: 30px;
        }}
        
.columna3Main {
            grid-area: columna3Main;
            display: flex;
            flex-direction: column;
            text-align: justify;
            line-height: 1.5;
            align-items: center;
        }

      


@media screen and (max-width: 768px) {
    .contenedorGridIndex {
        display: flex;
        flex-wrap: wrap;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
    }
    .imagenCentralMain {
        display: none;
    }
}

    

.contenedorFooter {
            width: 100%;
            background-image: url(../assets/img/hojas1_640.png);
            background-blend-mode: lighten; /* O "overlay", "soft-light", según el efecto deseado */
            background-color: rgba(255, 255, 255, 0.486);

            display: flex;

            flex-wrap: wrap;
            
            align-items:flex-start;
            justify-content:space-evenly;
            
            padding: 20px;
        
            p{font-size: 1rem}  }

@media screen and (max-width: 768px) {
                .contenedorFooter{display:flex;
                    flex-direction: row;
                    justify-content: space-between;
                width:initial;}
            }            


.logoFooter{img
        {width:90px}}

@media screen and (max-width: 768px){
    .logoFooter{img{width:64px;}}
}    
            
.menusFooter 
    
            ul {padding-top:10px;
                list-style: none; 
                
                li {
                    display: block;
                    
                
                    a {
                    display: block; 
                    font-family: "Open Sans", sans-serif; 
                    text-decoration: none; 
                    color: black;
                    
                }}}
            
@media screen and (max-width: 768px) {
    .menusFooter {width: initial;}
}          

.tituloAncla {
    font-size: 1rem; 
    font-family: Dosis, sans-serif;}  


.parrafoFooter {
                width: 20%; 
                
                font-size: 1rem; 
                text-align: justify; 
                line-height:1.5;
                p {padding-top:10px;}
            }       
@media screen and (max-width: 768px){
    .parrafoFooter{
        p{display:none;}}
}       
       
        
.footerRight {
            display: flex;
            flex-direction: column;
            align-items:baseline; /* Alinea elementos de .footerRight a la izquierda dentro de este contenedor */
            justify-content: center;
            text-align: left;
            width: 30%; /* Ajusta según sea necesario */}
            .iconos{display:flex;
            justify-content: center;
            flex-wrap: wrap;}

@media screen and (max-width: 768px){
    .footerRight{
        flex-direction:row;
        justify-content: space-evenly;
        width:90%;
    
        
       
    }}
        
      
.fa-instagram, 
.fa-facebook, 
.fa-twitter {
            display: block;
            font-size: 1.5rem;
            padding-top: 10px;
            padding-right:1opx;
           }        
.suscribirse {width:280px;
            margin-top: 10px;}

/*@media screen and (max-width: 768px) {
    .footerRight .suscribirse {width: 70%;}
} */          

 
.mail {width:280px;
      }            
            
.botonSuscribirse {width:280px;
    
    border: 4px   #521a3c; width:280px;
    padding: 8px; 
    border-radius: 10px; 
    background-color: white; 
    box-shadow: 7px 7px 7px 7px rgba(33, 128, 184, 0.76); 

     
    font-size: 1rem; 
    color:#563b5a; 
    font-weight: bolder; }

@media screen and (max-width: 768px) {
    .mail {width: 60%;
        font-size:0.9rem;}
    .botonSuscribirse  {width: 60%;
        font-size:1rem;}   
}
    
        

    
.fa-whatsapp { font-size: 3em;
        position:fixed;
        bottom: 150px;
        right: 15px;
        background-color: white;}
        
@media screen and (max-width: 768px) {
    .fa-whatsapp {font-size: 2rem;
        bottom: 100px;}
}        
        
.footerDerechos{font-size: 0.9rem;
    padding-top:10px;  
    padding-bottom:10px;
    }   

@media screen and (max-width: 768px){
    .footerDerechos{padding-left: 20px;}
}
    
    
    
       
    
.volverArriba{
        border: 4px ridge solid #521a3c; 
        padding: 8px; 
        border-radius: 10px; 
        background-color: white; 
        box-shadow: 7px 7px 7px 7px rgba(33, 128, 184, 0.76); 
    
        font-family: "Dosis", sans-serif; 
        font-size: 1.4rem; 
        color:#563b5a; 
        font-weight: bolder; 
        text-align: center;
        position: fixed; /* Mantiene el botón en una posición fija */
        bottom: 50px; /* Espacio desde la parte inferior */
        right: 15px; /* Espacio desde la derecha */
        } 
        
@media screen and (max-width: 768px) {
    .volverArriba{width: 30%;
        font-size: 1.2rem;}
    }
        

/* FINAL index */


/* COMIENZO productos*/

.sectionProductos {
    
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
            
    background-image:url("../assets/img/flores1_1920.png");
   
    background-position: top;       
    background-size:contain;
    background-blend-mode: lighten; /* O "overlay", "soft-light", según el efecto deseado */
    background-color: rgba(255, 255, 255, 0.486); /* Capa de fondo blanco semitransparente */
    
    
            
    padding-top: 60px;
    padding-bottom: 60px;
            
               
    h1 {                   
        color:#563b5a; };
    p{  text-align:justify;
        font-size: 1.2rem;
        line-height:1.5;
        font-weight: 550;       
        color:  #0e082e;
        padding-left: 100px;
        padding-right: 100px;
            }
        }

@media screen and (max-width: 768px) {
    
    .sectionProductos {
            padding-top: 30px;
            padding-bottom: 30px;
               
            }
        
    .sectionProductos h1 {
                padding-left: 20px;
                padding-right: 20px;
                text-align: center;
            }
        
    .sectionProductos p {
                text-align: justify;
                font-size: 1.1rem;
                line-height: 1.5;
                font-weight: 550;
                color: #180e44;
                padding-left: 20px;
                padding-right: 20px;
            }
        }        


.tituloProductos{
           
           
    display: flex;
    justify-content:center;
    align-items:end;
    padding-top:40px;
    padding-bottom:20px;
    h1, h2 {padding-right: 30px;
        padding-left: 30px;
        
}  }   

@media screen and (max-width: 768px){
    .tituloProductos {display:none;}
        

    }



   


.galeriaDestacados {
   
    padding:20px;
    margin:0 auto;
    width: 90%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
       
        .tarjetaDestacados{
            
            width: 350px;
            height: 550px;
            
            text-align: center;
            padding: 10px;
            box-shadow: 7px 7px 7px 7px rgba(233, 177, 200, 0.76); 
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            img{
                border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    width: 100%;
                    height: 80%;
                    object-fit: cover;
             }
        }
    }
.textoProductos{padding-left:20px;
padding-right:20px;
margin-bottom: 40px;}   
  
/* FINAL productos*/

/* COMIENZO contacto*/

.formContacto{width:700px;
padding: 20px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
margin:50px auto;
background-image: url(../assets/img/acuarela22.png);
background-blend-mode: lighten; /* O "overlay", "soft-light", según el efecto deseado */
background-color: rgba(202, 253, 192, 0.6); /* Capa de fondo blanco semitransparente */
background-color:#bbb7b7;}

form label {
    width: 200px;
    display:inline-block;
}

form legend {padding-top: 20px;
    width: 300px;
    display:inline-block;
}

form input,select{width:300px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid rgb(27, 24, 27);
    padding: 3px 10px;
    margin: 8px 0;}


fieldset {padding-top:20px;}
    
fieldset form label {
    width: 150px;
    display:inline-block;}

fieldset form input {width:300px;
        padding: 5px;
        border-radius: 10px;
        border: 2px solid rgb(61, 47, 61);
        padding: 3px 10px;
        margin: 8px 0;}

textarea {
    width:100%;
   
    padding: 5px;
    box-sizing:border-box;
    border-radius: 10px; }



.botones {width: 100px;
    padding: 5px;
    box-sizing:border-box;
    border: 2px solid rgb(61, 47, 61);
    border-radius: 10px; }    


@media screen and (max-width: 768px){
    form{height:initial;}
}

/* FINAL contacto*/


/* COMIENZO talleres*/

.paddingTalleres{
    padding-left:30px;
    padding-right:30px;
    padding-bottom:20px;}
    h2{padding-top:15px;
        }
    p{padding-top:5px;}    

.parrafosBottom {padding-top:20px;
text-align: center;
font-family: "Dosis", sans-serif;
font-size:1.5rem;
font-weight: 550;}

div table {
    width: 90%;}

table 
{box-sizing: border-box;
   
    border: 1px solid #000;
    margin-bottom:30px;
    margin-left:50px;
    background-image: linear-gradient(to right top, #f8008d, #ee34a6, #e14ebb, #d162cd, #c073db, #d875d5, #ec79cf, #fe7ec8, #ff86a1, #ffa078, #ffc35a, #f6e857);
    }
    th, td {width: 14%;
        text-align: left;
        padding:5px;
        border: 1px solid #bbb7b7;
        background: #fff;
        color: #000;
        
         }
    caption{padding:30px;}

    
  
@media screen and (max-width: 768px) {
        table {
       
        width:50%;}
      }

/* FINAL talleres*/

/*COMIENZO materiales*/

.galeriaMateriales {
   
    padding:20px;
    margin:0 auto;
    width: 90%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
       
        .tarjetasMateriales{
            box-sizing: border-box;
            width: 350px;
            height: 400px;
            
            text-align: center;
           
            box-shadow: 7px 7px 7px 7px rgba(233, 200, 177, 0.76); 
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
           
            img{
                border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    width: 95%;
                    height:75%;
                    object-fit:scale-down; /* probar con cover*/
                    
             }
        }
    }
   
    
     
    
/*FINAL materiales*/



/*COMIENZO patrones*/
.galeriaPatrones {
   
    padding:20px;
    margin:0 auto;
    width: 90%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
       
        .tarjetaPatrones{
            
            width: 300px;
            height: 350px;
            
            text-align: center;
            padding: 10px;
            box-shadow: 7px 7px 7px 7px rgba(238, 226, 175, 0.76); 
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            img{
                border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    width: 100%;
                    height: 80%;
                    object-fit:contain;
                    margin-bottom: 20px;}
             
        }
    }
.textoProductos{padding-left:20px;
padding-right:20px;
margin-bottom: 40px;}   
  


/*FINAL patrones*/


/*COMIENZO nosotros*/

.mainNosotros  {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        div {padding-top: 20px;}
    }
    
.visual video {border-radius: 20px;}

.card {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/img/acuarela22.png);
    background-blend-mode: lighten; /* O "overlay", "soft-light", según el efecto deseado */
    /*background: lightpink;*/
    background-size: cover;  /* Asegura que la imagen cubra todo el área del elemento */
    background-position: center;  /* Centra la imagen de fondo */
    

    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    video {
        border-radius: 10px;
        
        
        }
}


.card p {
    text-align: justify; /* Justifica el texto dentro de la tarjeta */
    line-height: 1.5;   /* Mejora la legibilidad */
    width: 100%;        /* Asegúrate de que los párrafos usen todo el ancho */
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (max-width: 768px){
    .card{width: 90%;

        video{width:95%;
            }}
}


/*FINAL nosotros*/


/*COMIENZO encontranos*/

.visual iframe {border-radius: 20px;}

.parrafosEncontranos {adress{padding-top: 20px;}}

@media screen and (max-width: 768px){
    .visual iframe{width: initial;}
}

/*FINAL encontranos*/












